body {
  margin: 0;
  background: white!important;
  /* background: #25262A; */
  /* color: white; */
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}


/* src/components/CustomAlert.css */
.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.alert-content {
  background: white;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}





code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.card{
  border: none;
  overflow: hidden;
}
.card>img{
  width: 100%;
}
.categoryBtn{
  position: relative;
  bottom: 60px;
  margin: 0px auto;
  font-size: 13px;
  border-radius: none!important;
  border: none;
  padding: 7px 40px;
  background: white;
  color: black;
  transition: 0.6s ease;
  text-decoration: none;
}
.categoryBtn:hover{
  background: black;
  color: white;
  transition: 0.6s ease;
}
.card>img, .scaleTrans{
  transition: 0.6s ease;
}
.card>img:hover, .scaleTrans:hover{
  transform: scale(1.09);
  transition: 0.6s ease;
}
.categoryTitle{
  /* font-size: 23px; */
  /* font-weight: 600; */
}

.card-img-container {
  position: relative;
  overflow: hidden;
}

.card-img-container .button {
  position: absolute;
  bottom: 20px;
  left: 35%;
  z-index: 10; /* Ensure the button is above the images */
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Semi-transparent background */
  color: white; /* Button text color */
  border: none; /* Remove default border */
  padding: 5px 10px; /* Button padding */
  cursor: pointer; /* Change cursor on hover */
  opacity: 0;
}
.card-img-container .sale {
  position: absolute;
  top: 10px;
  right: 10px; 
  z-index: 10; 
  background-color: red; 
  color: white; 
  border: none;
  padding: 5px 10px;
  cursor: pointer; 
  opacity: 1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-img-container img {
  transition: opacity 0.5s ease;
}

.card-img-container img.secondary {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 100%; /* Ensure the secondary image takes the full container width */
  height: 100%; /* Ensure the secondary image takes the full container height */
  object-fit: cover; /* Ensure the image covers the container */
}

.card-img-container:hover img.secondary {
  opacity: 1;
}
.card-img-container:hover img.primary {
  opacity: 0;
}
.card-img-container:hover img.primary {
  opacity: 0;
}
.card-img-container:hover img.secondary {
  opacity: 1;
}
.card-img-container:hover .button {
  opacity: 1;
}
.serviceSection{
  margin-top: 50px;
}
.titleService{
  font-size: 1.1rem;
  font-weight: 600;
}
.descriptionService{
  font-size: 0.8rem;
  font-weight: 500;
}
.iconService{
  font-size: 30px!important;
  margin-bottom: 10px;
}

.cartDetail>p{
  padding: 0px;
  margin: 0px;
  font-size: 0.8rem;
  font-weight: 500;
}

.cartDetail p:nth-child(1) {
  font-size: 0.9rem;
}

.greyColor{
  color: grey;
}
.cartPart2{
  /* text-align: center!important; */
}
.incDecBtn2{
  display: none!important;
}


.serviceSection .serviceItem {
  margin: 10px 0;
}

.serviceSection .iconService {
  font-size: 3rem;
  margin-bottom: 10px;
}

.serviceSection .titleService {
  font-weight: 500;
  margin-bottom: 5px;
}

.serviceSection .descriptionService {
  font-size: 1rem;
}

@media (max-width: 768px) {
  .serviceSection .iconService {
    font-size: 2rem;
  }

  .serviceSection .titleService {
    font-size: 0.75rem;

  }

  .serviceSection .descriptionService {
    font-size: 0.7rem;
  }

  .serviceSection .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}


@media (max-width: 992px) {
  .incDecBtn2{
    display: block!important;
  }
  .incDecBtn1{
    display: none!important;
  }
  .cartText{
    padding-top: 30px;
    /* padding-left: 32%; */
  }
  .cartPart2{
    border-bottom: 0.6px solid grey;
    padding-bottom: 10px ;
  }
}

@media (max-width: 768px) {
  .cartDetail>p{
    padding: 0px;
    margin: 0px;
    font-size: 0.7rem;
    font-weight: 500;
  }
  
  .cartDetail p:nth-child(1), .cartText {
    font-size: 0.8rem;
  }
  .cartText{
    padding-top: 30px;
    /* padding-left: 32%; */
  }
  .cartPart2{
    border-bottom: 0.6px solid grey;
    padding-bottom: 10px ;
  }
    
}
@media (max-width: 574px) {
  .cartDetail>p{
    padding: 0px;
    margin: 0px;
    font-size: 0.6rem;
    font-weight: 500;
  }
  .cartPart2{
    border-bottom: 0.6px solid grey;
    padding-bottom: 10px ;
  }
  .cartText{
    padding-top: 10px;
    padding-left: 32%;
  }
  
  .cartDetail p:nth-child(1), .cartText {
    font-size: 0.7rem;
  }
  
}
